<div class="container">
    <div class="row">
        <div class="result-box-wrapper ">
            <div class="result-box">

            </div>
            <div class="full-preview">
                <i id="i-preview" class="fas fa-arrows-alt-v"></i>
            </div>
        </div>

    </div>
    <div class="grapick-cont mt-4">
        <div id="grapick">
        </div>
    </div>
    <div class="row">
        <div class="inputs-div">
            <div class="row">
                <div class="col-md-6">
                    <label for="switch-type">Gradient Type</label>
                    <select class="form-control custom-select" id="switch-type">
                        <option value="radial">Radial</option>
                        <option value="linear" selected>Linear</option>
                        <option value="repeating-radial">Repeating Radial</option>
                        <option value="repeating-linear">Repeating Linear</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="switch-angle">Gradient Direction</label>
                    <select class="form-control custom-select" id="switch-angle">
                        <option value="top">Top</option>
                        <option value="right" selected>Right</option>
                        <option value="center">Center</option>
                        <option value="bottom">Bottom</option>
                        <option value="left">Left</option>
                    </select>
                </div>
                <div class="col-12 mt-2">
                    <div class="d-flex justify-content-end flex-wrap">
                        <!-- <button class="copy-btn">Copy to clipboard</button> -->
                        <button type="button" data-toggle="modal" class="download-button ml-4">
                            <span>Download Image</span>
                        </button>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>